{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>{{ .Title }}</h1>
                <ul class="list-inline mb-50">
                    <li class="list-inline-item">{{ .Params.author }}</li>
                    <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
                </ul>
                {{ if .Params.image }}
                <img class="img-fluid mb-50" src="{{ .Params.image | absURL }}" alt="blog-image">
                {{ end }}
            </div>
            <div class="col-md-12">
                <div class="post-single-content">
                    {{ .Content }}
                </div>
                <div class="row portfolio-items-wrapper">
                    {{ with .Resources.ByType "image" }}
                    {{ range . }}
                    <div class="mix col-md-4 design wow fadeInDown"  data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInDown;" >
                        <div class="portfolio-block">
                            <img class="img-responsive" src="{{ .RelPermalink }}" alt="work-image">
                            <div class="caption">
                                <a class="search-icon pdf-popup" data-effect="mfp-with-zoom"
                                   href="https://raw.githack.com/sbueringer/kubecon-slides/master/slides/{{ replace (replace .RelPermalink "jpg" "pdf") "/kubecon-slides/post" "" }}"
                                   data-lightbox="image-1">
                                    <i class="tf-ion-play"></i>
                                </a>
                                <h4>{{ .Name | truncate 150 }}</h4>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "footer.html" . }}